body {
	background-image: url(../assets/ink.jpg);
	font-family:'Josefin Sans', sans-serif;
  font-weight: normal;
  font-style: normal;
  margin: 0;
}

/* Headings */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
  font-weight: normal;
  color: #006363;
}

h2 {
  font-weight: normal;
}

h3 {
  font-weight: normal;
}

h4 {
  font-weight: normal;
}

h5 {
  font-weight: normal;
}

/* Link styling  */

a {
  color: grey;
  background: transparent;
  text-decoration: none;
}


/* Box dividers */
#box_wrapper {
	width: 550px;
	max-height: 500px;
	text-align: center;
	margin: 0 auto;
}

#box {
  width: 500px;
  background-color: white;
  float: right;
}

#box address {
	padding-bottom: 20px;
}

#box h5 {
  margin: 10px;
}

#social_media {
	background: rgba(84, 84, 84, 0.7);  
	width: 30px;
  padding: 10px;
  float: left;
  margin-bottom: 0;
}